








/*==============================*/

/* .profile-photo {
	height: 220px;
	width: 300px;
	float: left;
	margin-right:20px;
	outline: teal solid 4px;
}
p {
	margin-top: 3px;
	text-indent: 20px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 980px) {
	
}
@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 640px) {

} */