@import url("reset.css");

/* ===PORTFOLIO PAGE=== */

.main_section_portfolio_images {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
}

.main_section_portfolio_images:nth-child(even) {
	margin-right: 40px;
}

.main_section_portfolio_images img {
	width: 275px;
	height: 275px;
	border: 0 none;
	border-radius: 50%;
}

.link {
	width: 275px;
	height: 275px;
	border-radius: 50%;
	z-index: 3;
}

.main_section_portfolio_images h3 {
  position: absolute;
	bottom: 28px;
	left: 50px;
  width: 175px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
	border-bottom: 0;
	border-radius: 50px;
}

.portfolio_image--spinny {
	width: 275px;
	height: 275px;
	border-radius: 50%;
	position: absolute;
}

.portfolio_image--spinny:hover {
	border: 10px solid #4aaaa5;
	border-bottom: #fff;
	border-top: #fff;
	animation: spin 2s linear infinite;
	opacity: .75;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}